altair==5.1.2
appdirs==1.4.4
asgiref==3.5.0
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
backports.functools-lru-cache==1.6.5
beautifulsoup4==4.12.2
blinker==1.6.3
boto3==1.24.94
botocore==1.27.94
Brotli==1.0.9
bump2version==1.0.1
bumpversion==0.6.0
cachetools==5.3.0
certifi==2022.9.24
cffi==1.16.0
charset-normalizer==3.0.1
click==8.0.3
colorama==0.4.6
comm==0.1.4
contourpy==1.1.1
cryptography==41.0.4
csvalidate==1.1.1
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
distlib==0.3.6
Django==3.2.12
django-cors-headers==3.11.0
django-environ==0.9.0
django-storages==1.13.2
djangorestframework==3.13.1
exceptiongroup==1.1.3
executing==1.2.0
filelock==3.8.0
Flask==2.0.2
fonttools==4.43.1
frozendict==2.3.8
gitdb==4.0.10
GitPython==3.1.37
google-api-core==2.11.0
google-api-python-client==2.77.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-secret-manager==2.15.1
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpc-google-iam-v1==0.12.6
grpcio==1.58.0
grpcio-status==1.58.0
gunicorn==20.1.0
html5lib==1.1
httplib2==0.21.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
ipykernel==6.25.2
ipython==8.16.1
ipywidgets==8.1.1
itsdangerous==2.0.1
jedi==0.19.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
llvmlite==0.41.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.0
multitasking==0.0.9
munkres==1.1.4
nest-asyncio==1.5.8
npm==0.1.1
numba==0.58.0
numpy==1.25.2
optional-django==0.1.0
packaging==23.2
pandas==2.1.1
parso==0.8.3
patsy==0.5.3
peewee==3.17.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==23.2.1
pipenv==2022.10.12
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.21.12
psutil==5.9.5
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydeck==0.8.0b4
Pygments==2.16.1
pyparsing==3.0.9
PySocks==1.7.1
pyte==0.8.1
pythermalcomfort==2.8.4
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2021.3
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
requests==2.28.2
rich==13.6.0
rpds-py==0.10.6
rsa==4.9
s3transfer==0.6.0
scikit-learn==1.3.1
scipy==1.11.2
seaborn==0.13.0
setuptools==68.2.2
six==1.16.0
smmap==3.0.5
soupsieve==2.5
sqlparse==0.4.2
stack-data==0.6.2
statsmodels==0.14.0
streamlit==1.27.2
tenacity==8.2.3
thefuck==3.32
threadpoolctl==3.2.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
traitlets==5.11.2
typing_extensions==4.1.1
tzdata==2023.3
tzlocal==5.1
unicodedata2==15.1.0
uritemplate==4.1.1
urllib3==1.26.12
validators==0.22.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
watchdog==3.0.0
wcwidth==0.2.8
webencodings==0.5.1
Werkzeug==2.0.2
wheel==0.41.2
whitenoise==6.2.0
widgetsnbextension==4.0.9
yfinance==0.2.31
zipp==3.17.0
